<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ityj.mybatis.mapper.StudentMapper">

    <insert id="insert">
        insert into student (name, age, gender, birthday) values (#{name}, #{age}, #{gender}, #{birthday})
    </insert>

    <select id="queryAllStudent" resultType="STudent" >
        select * from student
    </select>

    <select id="queryByName" resultType="student">
        select * from student where name = #{name} and age = #{age}
    </select>

    <select id="queryLikeName" resultMap="studentNameMap">
        select * from student where name like "%"#{name}"%"
    </select>


    <resultMap id="studentNameMap" type="student">
        <!--id 主键映射-->
        <id property="id" column="id"></id>
        <!--result 普通字段-->
        <result property="name" column="name"></result>
    </resultMap>

    <select id="queryByIDList" resultType="student">
        select * from student
        <if test="ids != null">
            <where>
                <foreach item="id" collection="ids"
                         open="ID in (" separator="," close=")">
                    #{id}
                </foreach>
            </where>
        </if>
    </select>

    <select id="queryByProperty" resultType="student">
        select * from student
        <where>
            <if test="student.id != 0">
               and id = #{student.id}
            </if>

            <if test="student.name != null">
                and name = #{student.name}
            </if>

            <if test="student.age != 0">
                and  age = #{student.age}
            </if>

        </where>


    </select>





    <cache/>

</mapper>